.lead {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 91.06px 0 92px;
  max-width: 100%;
  margin: 0 auto;
}

.lead__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0;
  margin-bottom: 32px;
  max-width: 720px;
  text-align: center;
}

.lead__description {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  margin-bottom: 64px;
  max-width: 720px;
  text-align: center;
}

.lead__image {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 90px 0 90px;
    max-width: 90%;
    margin: 0 auto;
  }

  .lead__title {
    font-size: 75px;
    line-height: 79px;
    margin-bottom: 32px;
    max-width: 530px;
  }

  .lead__description {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding: 50px 0 64px;
    max-width: 90%;
    margin: 0 auto;
  }

  .lead__title {
    font-size: 75px;
    line-height: 79px;
    margin-bottom: 32px;
    max-width: 228px;
  }

  .lead__description {
    margin-bottom: 40px;
    max-width: 288px;
  }
}
